
footer {
    text-align: center;
    color: aliceblue;
    background-color: rgb(80, 80, 80)
}

.compil{
    color: white;
    font-style: italic;
    text-decoration: none; /* Remove underline */
}

a:visited {
    color: white;
    text-decoration: dashed;
}